**/bin
**/obj
**/node_modules
**/dist
**/.angular
client
**/.vs
**/.vscode
**/.idea
**/*.user
**/.env
**/Dockerfile*
.git
.github
.gitignore
PolicyManager.sln
PolicyManager.Tests
README.md
compose.yaml
data
scripts
